<!---
  # condition
    # *ngIf/elseIf/else,
    # *ngHide/show
    # *ngSwitch/Case,
    # *ngFor
  # create components
    # ng g c folders/name
  # @Input
  # @Output
  - Dynamic components
-->

<!--
<div>
  <h1>Parent</h1>
  <div>{{ title }}</div>
  <div>Value: {{ valueFromChild }}</div>
</div>
<div>
  <h1>Child</h1>
  <app-hello
    [title]="title"
    [name]="name"
    (clicked)="onClickEvt($event)">
  </app-hello>
</div>
-->
<h5>Dynamic Components</h5>
<ng-template appContainer></ng-template>
