<!--
# interpolation ==> {{ expression }}
# one way data data binding ==> [prop]
# two way data binding ==> [(ngModel)]
# html data binding => [innerHTML]
# getter function ==> get myFunc(){ return }
# setter ==> func()
-->


interpolation
<div> {{ title }}</div> <br/>
<div>{{ title + ' sutin' + ' initt' }}</div> <br />
<div>
  {{ name }}
</div> <br />
one way data binding <br>
<input [value]="title" /> <br /><br/>
two way data binding <br />
<input type="text" [(ngModel)]="title" /> <br />

<div [innerHTML]="myHtml"></div>
<input type="text" value="sutin" #myName/>
<button (click)="buttonClick(myName.value)">Click</button> <br />
<div class="name">
  <div>
    Name: <div class=label>{{ getName }}</div>
  </div>

</div>

